<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff2" /> 
      <mimeMap fileExtension="png" mimeType="image/png" /> 
      <mimeMap fileExtension="mjs" mimeType="text/javascript" /> 
    </staticContent>
  </system.webServer>
</configuration>